@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  z-index: 100;
  top: 0;

  background-color: black;
  border-bottom: 1px solid white;
  padding: 1rem;
  font-size: 1rem;
}

nav .brand {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-items a {
  margin: 0 1rem;
}

img {
  width: 50%;
  height: 400px;
  float: right;
}
#button1 {
  justify-content: space-around;
  height: 30px;
  width: 100px;
  border: 2px solid black;
  border-radius: 1px;
  background-color: azure;
}
#button2 {
  height: 30px;
  width: 100px;
  border: 2px solid black;
  border-radius: 1px;
  background-color: black;
  color: white;
}
